  
<div class="container" style="text-align: center">


    <img src="family.png" height="800" width="800"/>
</div>


<div class="container">
    <h1 style="text-align: center">Welcome To FamilySpot</h1>

    <p>The population of earth is 7.674 billion. Each one of them is part of a family. The
        average family size in the U.S. is 3.15 people. Even if they are a family of 1, families have a lot
        going on, sometimes up to 100’s of individual tasks per person. How do you track everything?
        FamilySpot. It contains an announcement/note section that they can share with other family
        members or keep for themselves. Not realize that we were out of something or something you
        want people to be on the lookout for when they are shopping, add it as item, which other family
        members can see. We have a list that can be customized and shared with family members.
        Can’t remember that great place you want to go to next time you're in the area? Places can help
        you track and plan future trips. Addresses are the physical address of specific places you want
        to save and remember. You can also add as many family members as you need.
    </p>
</div>
